#champion {
  background-image: url(../photo/champion.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
#champion h1 {
  display: block;
  font-size: 4.5rem;
  line-height: 1rem;
  font-weight: 900;
  margin-bottom: 2.692rem;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#champion span {
  display: block;
  color: #ffc311;
  display: inline-block;
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 800;
  margin-bottom: 2.692rem;
  text-transform: uppercase;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#champion p {
  color: #fff;
  width: 50%;
  text-align: left;
  font-weight: 400;
  line-height: 1.8rem;
  font-size: 1.154rem;
  max-width: 536px;
}
#champion a {
  font-size: 1.077rem;
  border-bottom: 0.1538rem solid #ffc311;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  padding: 0.7692rem 1.538rem;
  position: relative;
  color: #ffc311;
  text-decoration: none;
  margin-top: 40px;
}
#champion a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 0;
  width: 100%;
  background-color: #ffc411;
  transition: 0.3s ease-in-out;
  z-index: -1;
}
#champion a:hover {
  z-index: 1;
  color: rgb(255, 255, 255);
}
#champion a:hover::before {
  height: 100%;
  color: #fff;
}

#about {
  width: 100%;
  height: 40rem;
}
#about img {
  margin-top: 150px;
}
#about h1 {
  color: #282828;
  font-size: 2.846rem;
  line-height: 3.846rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-top: 130px;
}
#about span {
  color: #ffc411;
  display: block;
  font-size: 2.846rem;
  font-weight: 800;
  text-transform: uppercase;
}
#about p {
  text-align: left;
  color: #777;
  line-height: 1.5;
  margin-top: 30px;
  margin-bottom: 20px;
}
#about a {
  text-decoration: none;
  color: #ffc411;
  font-size: 1rem;
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
  position: relative;
  line-height: 60px;
  padding: 0 10px;
  border-bottom: 0.1538rem solid #ffc411;
}
#about a:hover {
  color: #fff;
}
#about a:hover::before {
  height: 100%;
}
#about a::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0;
  left: 0;
  z-index: -1;
  background-color: #ffc411;
  transition: 0.3s;
}

#victories {
  height: 140vh;
  background-image: url(../photo/victories.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#victories .box {
  margin-top: 8rem;
  padding-right: 25px;
}
#victories .box h1 {
  color: #fff;
  font-size: 3.046rem;
  line-height: 3.846rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 2.538rem;
}
#victories .box span {
  display: block;
  color: #ffc411;
  font-size: 3.046rem;
  line-height: 3.846rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 2.538rem;
}
#victories .box p {
  color: #fff;
  line-height: 1.8;
  text-align: left;
  font-weight: 400;
}
#victories .box a {
  border-bottom: 0.1538rem solid #ffc411;
  text-decoration: none;
  font-size: 1.077rem;
  text-transform: uppercase;
  position: relative;
  padding: 0.7692rem 1.538rem;
  color: #ffc411;
  display: inline-block;
  margin: 25px;
}
#victories .box a:hover {
  color: #fff;
  z-index: 1;
}
#victories .box a:hover::before {
  height: 100%;
}
#victories .box a::before {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0;
  background-color: #ffc411;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
#victories .box img {
  margin-top: 10rem;
}
#victories h5 {
  color: #ffc411;
  border: 1px solid #ffc411;
  font-weight: 800;
}
#victories .text p {
  color: #fff;
  margin: 0.3rem;
  font-size: 0.9rem;
}
#victories .text h6 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: rgba(255, 195, 15, 0.925);
}

#our {
  height: 77rem;
}
#our img {
  margin-top: 10rem;
}
#our .box {
  margin-top: 10rem;
}
#our .box h1 {
  font-size: 2.846rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #282828;
}
#our .box span {
  display: block;
  color: #ffc411;
  font-size: 2.846rem;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
#our .box p {
  line-height: 1.8;
  color: #777777;
  font-size: 1rem;
}
#our .boxes {
  margin-top: 5rem;
  list-style: none;
  text-align: center;
  display: block;
}
#our .boxes a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffc411;
  transition: 0.5s ease-in-out;
  border: 1px solid #ffc411;
  margin: 0 10px;
  padding: 10px 15px;
  display: inline;
  font-weight: 700;
}
#our .boxes a:hover {
  color: white;
  background-color: #ffc411;
}
#our .masterx {
  display: block;
}
#our .masterx .photo {
  background-image: url(../photo/img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 350px;
  height: 500px;
  margin: 35px 15px 50px 15px;
  position: relative;
  transition: 1s ease-in-out;
}
#our .masterx .photo:hover {
  z-index: 1;
}
#our .masterx .photo:hover::before {
  height: 100%;
}
#our .masterx .photo::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 0;
  background-color: rgba(128, 128, 128, 0.788);
  transition: 0.3s ease-in-out;
  z-index: -1;
  transition: 1s ease-in-out;
}
#our .masterx .photo h6 {
  position: absolute;
  top: 25rem;
  left: 8rem;
  background-color: #ffc411;
  padding: 18px 23px;
  font-weight: 800;
  text-transform: uppercase;
}

#sponsor {
  background-image: url(../photo/sponsor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
#sponsor h1 {
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  padding-top: 50px;
}
#sponsor span {
  font-weight: 800;
  color: #ffc411;
  display: block;
  text-transform: uppercase;
  font-size: 40px;
  padding-left: 5px;
  padding-top: 50px;
}
#sponsor .box {
  margin: 100px 0;
}
#sponsor .box img {
  border: 1px solid white;
  width: 180px;
  margin: 20px 20px;
}

#fixture {
  background-color: #FFFFFF;
  height: 300vh;
}
#fixture .box {
  text-align: center;
  margin-top: 70px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1;
}
#fixture .box h1 {
  font-size: 3rem;
  transition: 0.5s;
}
#fixture .box span {
  color: #ffc311;
  font-size: 2.5rem;
}
#fixture .boxes {
  margin-top: 40px;
}
#fixture .boxes a {
  color: #ffc411;
  transition: 0.5s;
  margin: 30px 30px;
  display: inline;
  padding: 15px 25px;
  text-decoration: none;
  border: 1px solid #ffc311;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
}
#fixture .boxes a:hover {
  background-color: #ffc411;
  color: white;
}
#fixture .call {
  box-shadow: 0 0 3rem rgba(0, 0, 0, 0.1);
  width: 100%;
  border: 1px solid transparent;
  padding: 30px 35px;
  margin: 25px 0;
}
#fixture .call h4 {
  color: #ffc411;
  font-size: 20px;
}
#fixture .call h1 {
  color: black;
  font-weight: 800;
  font-size: 30px;
  transition: 0.5s;
}
#fixture .call h1:hover {
  color: #ffc411;
}
#fixture .call p {
  color: #777;
}
#fixture .call img {
  width: 40px;
}/*# sourceMappingURL=style.css.map */